ody {
    font-family: 'Poppins', sans-serif;
    margin: 50px;
    background-color: #1A1A1A;
    color: #F3EDE9;
    font-size: 18px;
}

.header {
    text-align: center;
    margin-bottom: 35px;
}

.profile {
    width: 200px;
    border-radius: 50%;
    border: 5px solid #C78A69;
    margin-bottom: 20px;
}

.highlight {
    color: #d49a7b;
}

.section {
    background-color: #2E2B2D;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 12px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

    text-align: center;
}

.section ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

li {
    list-style-type: none;
}

table {
    width: 100%;
    border-collapse: collapse;

    text-align: center;
}

th, td {
    border: 1px solid #3F3B3E;
    padding: 12px;

    text-align: center;
}

th {
    background-color: #8E5D47;
    color: white;
    font-weight: 600;
}

a {
    color: #C78A69; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #E3C7A9;
}


footer {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    color: gray;
}

.skills-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    text-align: center;
}

.skills-column {
    width: 50%;
}

.skills-column h3 {
    color: #CBA48A;
    margin-bottom: 12px;
    font-weight: 600;
}

.skills-column ul li {
    margin-bottom: 8px;
}
